[submodule "protocol/bedrock"]
	path = protocol/bedrock
	url = https://github.com/AsyncMC/Bedrock-Protocol
    branch = bleeding
[submodule "protocol/java"]
	path = protocol/java
	url = https://github.com/AsyncMC/Java-Protocol
    branch = bleeding
[submodule "templates/internal"]
	path = templates/internal
	url = https://github.com/AsyncMC/Internal-Template.git
    branch = bleeding
[submodule "core"]
	path = core
	url = https://github.com/AsyncMC/Internal-Core.git
    branch = bleeding
[submodule "protocol/raknet"]
	path = protocol/raknet
	url = https://github.com/AsyncMC/RakNet-Protocol.git
	branch = bleeding
[submodule "protocol/raknet-interface"]
	path = protocol/raknet-interface
	url = https://github.com/AsyncMC/RakNet-Interface.git
[submodule "protocol/raknet-powernukkit"]
	path = protocol/raknet-powernukkit
	url = https://github.com/AsyncMC/RakNet-Provider-PowerNukkit
