[submodule "protocol/bedrock"]
	path = protocol/bedrock
	url = https://github.com/AsyncMC/Bedrock-Protocol
    branch = bleeding
[submodule "protocol/java"]
	path = protocol/java
	url = https://github.com/AsyncMC/Java-Protocol
    branch = bleeding
[submodule "templates/internal"]
	path = templates/internal
	url = https://github.com/AsyncMC/Internal-Template.git
    branch = bleeding
[submodule "core"]
	path = core
	url = https://github.com/AsyncMC/Internal-Core.git
    branch = bleeding
